/* 
.tinos-regular {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}
.tinos-bold {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: normal;
}
*/

:root {
	--white: #fff;
	--black: #222;
	--gray: #eaeaea;
	--lt-gray: #f8f8f8;
	--blue: #0061b6;
	--green: #597b7a;
	--salmon: #f29377; /* AA a11y normal text w/#222 */
	--accent: var(--green);
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Tinos", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 100%;
	line-height: 1.65;
	background-color: var(--white);
}

.search_active {
	overflow: hidden;
}

figure {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

svg {
	display: block;
	width: 3rem;
	height: 3rem;
	fill: blue;
	stroke: red;
}

time {
	display: inline-block;
}

button {
	display: block;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

h1,
h2,
h3 {
	font-weight: 700;
	line-height: 1.25;
	margin: 0 0 1rem;
}

a {
	text-decoration-color: var(--blue);
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
	color: var(--blue);
	transition: text-decoration-color 300ms ease-in-out;
}

a:focus,
a:hover,
a:active {
	text-decoration-color: transparent;
}

.button {
	display: inline-block;
	padding: clamp(0.333rem, 1vw, 0.75rem) 1rem;
	color: var(--white);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: clamp(0.9rem, 2vw, 1rem);
	border: 2px solid var(--white);
	background-color: transparent;
	transition:
		background-color 300ms ease-in-out,
		color 300ms ease-in-out;
}

.button:focus,
.button:hover,
.button:active {
	color: var(--black);
	background-color: var(--white);
}

.sr-only {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.center {
	text-align: center;
}

.wrap {
	max-width: 79.375rem; /* 1270px */
	margin: 0 auto;
	/* border-bottom: 1px solid var(--gray); */
}

.section {
	padding: 3rem 1rem;
}

.secondary_heading,
.tertiary_heading {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: clamp(1.25rem, 2vw, 1.5rem);
	margin: 0 0 2rem;
}

/* Header */
.header {
	background-color: var(--white);
	box-shadow: none;
}

.header .wrap {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	padding: 3rem 1rem;
}

.logo_container {
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	grid-column: 2;
}

.primary_logo {
	margin: 0 0 clamp(0.1rem, 1vw, 1rem);
	line-height: 1;
}

.primary_logo a {
	text-decoration: none;
	color: var(--black);
	font-size: clamp(1.25rem, 3.5vw, 2.5rem);
	transition: color 300ms ease-in-out;
}

.primary_logo a:focus,
.primary_logo a:hover,
.primary_logo a:active {
	color: var(--accent);
}

.description {
	margin: clamp(0.25rem, 1vw, 1rem) 0;
	line-height: 1;
	font-size: clamp(0.9rem, 2vw, 1rem);
}

.social_search_container {
	grid-column: 3;
	justify-self: end;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	gap: 1.25rem;
}

@media (max-width: 1024px) {
	.header {
		position: sticky;
		top: 0;
		left: 0;
		width: 100%;
		box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 10%);
		z-index: 1;
	}

	.header .wrap {
		padding: 0.5rem;
	}

	.header .social_navigation {
		display: none;
	}

	.social_search_container {
		gap: 0.25rem;
	}
}

@media (max-width: 600px) {
	.description {
		display: none;
	}
}

/* Search Drawer */
.search_button {
	padding: 0.75rem;
	border-radius: 5px;
	background-color: transparent;
	transition: background-color 300ms ease-in-out;
}

.search_button:focus,
.search_button:hover,
.search_button:active {
	background-color: var(--accent);
}

.search_button svg {
	width: 1.5rem;
	height: 1.5rem;
	stroke: var(--black);
	transition: stroke 300ms ease-in-out;
}

.search_button:focus svg,
.search_button:hover svg,
.search_button:active svg {
	stroke: var(--white);
}

.search_drawer {
	visibility: hidden;
	opacity: 0;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100vh;
	z-index: 1;
	background-color: var(--accent);
	color: var(--white);
	transition:
		visibility 300ms ease-in-out,
		opacity 300ms ease-in-out;
}

.search_active .search_drawer {
	visibility: visible;
	opacity: 100%;
}

.search_close {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	padding: 0.25rem;
}

.search_close:focus,
.search_close:hover,
.search_close:active {
	background-color: var(--white);
}

.search_close svg {
	width: 2.5rem;
	height: 2.5rem;
	stroke: var(--white);
}

.search_close:focus svg,
.search_close:hover svg,
.search_close:active svg {
	stroke: var(--accent);
}

.search_form {
	position: relative;
	width: 768px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 1rem;
}

.search_label {
	display: inline-block;
	font-size: clamp(1.25rem, 3vw, 2rem);
	line-height: 1;
	margin: 0 0 0.5rem;
}

.search_form input[type="search"] {
	width: 100%;
	padding: 1rem 4rem 1rem 1rem;
}

.submit_button {
	position: absolute;
	bottom: 2px;
	right: 1rem;
}

.submit_button svg {
	stroke: var(--accent);
}

/* Social Navigtion */
.social_nav {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	gap: 0.25rem;
}

.social_nav a {
	display: block;
	padding: 0.75rem;
	border-radius: 5px;
	background-color: transparent;
	transition: background-color 300ms ease-in-out;
}

.social_nav a:focus,
.social_nav a:hover,
.social_nav a:active {
	background-color: var(--accent);
}

.social_nav svg {
	width: 1.5rem;
	height: 1.5rem;
	fill: var(--black);
	transition: fill 300ms ease-in-out;
}

.social_nav a:focus svg,
.social_nav a:hover svg,
.social_nav a:active svg {
	fill: var(--white);
}

/* Navigation */
.menu_button {
	display: none;
	padding: 0.75rem;
	border-radius: 5px;
	background-color: transparent;
	transition: background-color 300ms ease-in-out;
}

.menu_button:focus,
.menu_button:hover,
.menu_button:active {
	background-color: var(--accent);
}

.menu_button svg {
	width: 1.5rem;
	height: 1.5rem;
	stroke: var(--black);
	transition: fill 300ms ease-in-out;
}

.menu_button:focus svg,
.menu_button:hover svg,
.menu_button:active svg {
	stroke: var(--white);
}

.menu_close {
	margin: 0.5rem 0.5rem 0.5rem auto;
}

.navigation {
	padding-inline: 1rem;
	box-shadow: none;
}

.main_nav {
	padding: 0;
	margin: 0;
	list-style-type: none;
	max-width: 79.375rem; /* 1270px */
	margin: 0 auto;
	border: 1px solid var(--gray);
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.main_nav li {
	position: relative;
	flex: auto;
	text-align: center;
	border-right: 1px solid var(--gray);
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.main_nav li:last-of-type {
	border-right: none;
}

.main_nav a {
	display: block;
	line-height: 1;
	width: 100%;
	padding: 1rem 0;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--accent);
	letter-spacing: 1px;
	font-size: 1rem;
	background-color: transparent;
	transition:
		background-color 300ms ease-in-out,
		color 300ms ease-in-out;
}

.main_nav a.active,
.main_nav a:focus,
.main_nav a:hover,
.main_nav a:active {
	color: var(--white);
	background-color: var(--accent);
}

.main_nav a:has(+ button) {
	width: calc(100% - 48px);
}

.main_nav button {
	padding: 1rem;
}

.main_nav svg {
	width: 1rem;
	height: 1rem;
	stroke: var(--accent);
}

/* Sub Menu */
.sub_menu {
	display: none;
	padding: 0;
	margin: 0;
	list-style-type: none;
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: var(--white);
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 10%);
}

.sub_menu li {
	border: none;
	border-top: 1px solid var(--gray);
}

.main_nav li svg {
	transform: rotate(0deg);
	transition: transform 200ms ease-in-out;
}

.main_nav li:hover svg,
.main_nav li button:has(+ .sub_menu.active) svg {
	transform: rotate(180deg);
}

.main_nav li:hover .sub_menu,
.sub_menu.active {
	display: block;
}

@media (max-width: 1024px) {
	.menu_button {
		display: block;
	}

	.navigation {
		visibility: hidden;
		position: fixed;
		top: 0;
		left: -300px;
		transform: translateX(0);
		padding-inline: 0;
		width: 300px;
		height: 100vh;
		z-index: 1;
		background-color: var(--white);
		box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 10%);
		transition:
			visibility 300ms linear,
			transform 300ms linear;
	}

	.main_nav {
		flex-direction: column;
		border: none;
		border-top: 1px solid var(--gray);
	}

	.main_nav li {
		width: 100%;
		border-right: none;
		border-bottom: 1px solid var(--gray);
	}

	.main_nav li:hover svg {
		transform: rotate(0);
	}

	.main_nav li:hover .sub_menu {
		display: none;
	}

	.menu_active .navigation {
		visibility: visible;
		transform: translateX(300px);
	}
}

/* Hero */
.hero {
	margin-inline: 1rem;
}

.hero .wrap {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	position: relative;
	width: 100%;
	height: auto;
	aspect-ratio: 1.95 / 1;
	z-index: 0;
}

.hero .figure {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero_text {
	width: 500px;
	max-width: 100%;
	padding: 1rem;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	color: var(--white);
}

.hero_heading {
	font-size: clamp(1rem, 4vw, 3rem);
	font-weight: 400;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 50%);
	margin: 0 0 clamp(1rem, 3vw, 2rem);
}

@media (max-width: 1024px) {
	.hero {
		margin-inline: 0;
	}
}

/* Headline */
.headline {
	margin: 0 auto;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	font-size: clamp(1rem, 3vw, 2rem);
	line-height: 1.25;
}

.headline p {
	margin: 0 auto;
	max-width: 60ch;
}

/* Latest Portfolio */
.grid .wrap {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.grid .figure {
	width: 100%;
	height: auto;
	margin: 0 0 2rem;
	aspect-ratio: 1.3 / 1;
}

.grid img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
