/* 
.tinos-regular {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}
.tinos-bold {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: normal;
}
*/

:root {
	--white: #fff;
	--black: #222;
	--med-gray: #707070;
	--gray: #eaeaea;
	--lt-gray: #f8f8f8;
	--blue: #0061b6;
	--green: #597b7a;
	--alt-green: #698d8c;
	--salmon: #f29377; /* AA a11y normal text w/#222 */
	--accent: var(--green);
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Tinos", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 100%;
	line-height: 1.65;
	background-color: var(--white);
}

.search_active {
	overflow: hidden;
}

/*
* hides 'menu_open' and 'search_open' buttons
* from keyboard navigation and screen readers
* when those drawers are open
*/
.search_active .search_open,
.menu_active .search_open,
.search_active .menu_open,
.menu_active .menu_open {
	visibility: hidden;
}

blockquote {
	padding: 1rem;
	margin: 0;
	background-color: var(--lt-gray);
	border-left: 5px solid var(--accent);
}

blockquote p {
	font-size: 1.25rem;
	line-height: 1.25;
}

blockquote p:first-of-type::before,
blockquote p:last-of-type::after {
	display: inline-block;
	font-size: 1.65rem;
	margin: 0 5px;
}

blockquote p:first-of-type::before {
	content: "\201C";
}

blockquote p:last-of-type::after {
	content: "\201D";
}

figure {
	width: 100%;
	height: auto;
	margin: 0;
	aspect-ratio: 16 / 9;
}

figure img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

figcaption {
	padding: 0.5rem 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	color: var(--med-gray);
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

svg {
	display: block;
	width: 3rem;
	height: 3rem;
	fill: blue;
	stroke: red;
}

time {
	display: inline-block;
	color: var(--med-gray);
}

button {
	display: block;
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

h1,
h2,
h3 {
	font-weight: 700;
	line-height: 1.25;
	margin: 0 0 1rem;
}

a {
	text-decoration-color: transparent;
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
	color: var(--blue);
	transition: text-decoration-color 300ms ease-in-out;
}

a:focus,
a:hover,
a:active {
	text-decoration-color: var(--blue);
}

strong {
	color: var(--accent);
}

pre,
code {
	background-color: var(--lt-gray);
	border-radius: 5px;
}

pre {
	display: block;
	padding: 1.25rem 1.5rem;
}

code {
	display: inline-block;
	padding: 0.25rem 0.5rem;
}

pre:has(code) {
	padding: 1rem;
}

hr {
	margin: 3rem 0;
	width: 100%;
	height: 0;
	color: transparent;
	border-style: none;
	border-width: 0;
	border-bottom: 1px solid var(--gray);
}

/* Lists */
ul,
ol {
	padding-inline-start: 1.5rem;
}

ul li::marker,
ol li::marker {
	color: var(--accent);
}

dl dt {
	text-transform: uppercase;
	letter-spacing: 1px;
	color: var(--accent);
	text-indent: 1rem;
	margin: 0.25rem 0;
	font-weight: 700;
	font-size: 0.9rem;
}

dl dd {
	padding: 0.75rem 1rem;
	margin-inline-start: 0;
	background-color: var(--lt-gray);
}

/* Table */
table {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

table caption {
	padding: 0 0 0.5rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: var(--med-gray);
}

thead {
	background-color: var(--accent);
	color: var(--white);
}

tr {
	border: 1px solid var(--gray);
}

tr:nth-of-type(even) {
	background-color: var(--lt-gray);
}

thead tr {
	border-color: var(--accent);
}

th,
td {
	padding: 0.5rem;
	border-left: 1px solid var(--gray);
}

@media (max-width: 600px) {
	thead {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}

	th,
	td {
		display: block;
		padding: 0;
		border-left: none;
		border-bottom: 1px solid var(--gray);
	}

	th::before,
	td::before {
		content: attr(data-attribute) ":";
		display: block;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 0.9rem;
		font-weight: 700;
	}

	th::before {
		padding: 0.5rem;
		background-color: var(--accent);
		color: var(--white);
	}

	td::before {
		padding: 0.5rem 0.5rem 0;
		color: var(--accent);
	}

	th:nth-of-type(even),
	td:nth-of-type(even) {
		background-color: var(--lt-gray);
	}

	th:first-of-type,
	td:first-of-type {
		border-left: none;
	}

	tr {
		border-color: var(--accent);
	}

	tr:nth-of-type(even) {
		background-color: transparent;
	}

	th div,
	td div {
		padding: 0.5rem;
	}
}

/* Forms */
form {
	width: 100%;
}

.form {
	max-width: 48rem;
	margin: 0 auto;
}

label,
legend {
	display: block;
	margin: 0 0 0.5rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: var(--accent);
	font-size: 0.9rem;
	font-weight: 700;
	line-height: 1;
}

input[type="file"],
input[type="range"] {
	display: block;
	width: 100%;
	margin: 0 0 1rem;
	accent-color: var(--accent);
}

input[type="radio"],
input[type="checkbox"] {
	vertical-align: middle;
	margin-right: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="date"],
select,
textarea {
	display: block;
	width: 100%;
	padding: 1rem;
	margin: 0 0 1rem;
	border: 2px solid var(--accent);
}

input::file-selector-button {
	display: inline-block;
	padding: clamp(0.333rem, 1vw, 0.75rem) 1rem;
	color: var(--white);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: clamp(0.9rem, 2vw, 1rem);
	border: 2px solid var(--accent);
	background-color: var(--accent);
	cursor: pointer;
	transition:
		background-color 300ms ease-in-out,
		color 300ms ease-in-out;
}

input::file-selector-button:focus,
input::file-selector-button:hover,
input::file-selector-button:active {
	color: var(--accent);
	background-color: var(--white);
}

select {
	/* this removes the default arrow */
	appearance: none;
}

label:has(select) {
	position: relative;
	z-index: 0;
}

label div {
	margin: 0 0 0.5rem;
}

label svg {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	stroke: var(--accent);
	width: 1.5rem;
	height: 1.5rem;
	z-index: 1;
	pointer-events: none;
}

fieldset {
	border-width: 2px;
	border-style: solid;
	border-color: var(--accent);
	margin-bottom: 1rem;
}

.button {
	display: inline-block;
	padding: clamp(0.333rem, 1vw, 0.75rem) 1rem;
	color: var(--white);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: clamp(0.9rem, 2vw, 1rem);
	border: 2px solid var(--white);
	background-color: transparent;
	transition:
		background-color 300ms ease-in-out,
		color 300ms ease-in-out;
}

.button.solid {
	background-color: var(--accent);
	border-color: var(--accent);
}

.button:focus,
.button:hover,
.button:active {
	color: var(--black);
	background-color: var(--white);
}

.button.solid:focus,
.button.solid:hover,
.button.solid:active {
	color: var(--accent);
}

.sr-only {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.center {
	text-align: center;
}

.wrap {
	max-width: 79.375rem; /* 1270px */
	margin: 0 auto;
}

.two_col {
	columns: 2 auto;
}

.three_col {
	columns: 3 auto;
}

.two_col,
.three_col {
	break-inside: avoid;
	margin: 0 0 1rem;
}

.two_col p,
.three_col p {
	margin: 0 0 1rem;
}

.section {
	position: relative;
	padding: 3rem 0;
	margin-inline: 1rem;
	z-index: 0;
}

.headline::after,
.grid::after,
.newsletter::after,
.blog::after {
	content: "";
	position: absolute;
	top: 100%;
	display: block;
	width: 79.375rem; /* 1270px */
	max-width: 100%;
	height: 0;
	margin-left: 50%;
	transform: translateX(-50%);
	border-bottom: 1px solid var(--gray);
	z-index: 1;
}

/*
* 1302px = 
* 1270px (wrap width) +
* 2rem (1rem of margin on left and right)
*/
@media (max-width: 1302px) {
	.headline::after {
		max-width: calc(100% - 2rem);
	}
}

@media (max-width: 768px) {
	.two_col,
	.three_col {
		columns: 1;
	}
}

.secondary_heading,
.tertiary_heading {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: clamp(1.25rem, 2vw, 1.5rem);
	margin: 0 0 2rem;
}

.tertiary_heading {
	margin: 0 0 1rem;
}

/* Header */
.header {
	background-color: var(--white);
	box-shadow: none;
}

.header .wrap {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	padding: 3rem 1rem;
}

.logo_container {
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	grid-column: 2;
}

.primary_logo {
	margin: 0 0 clamp(0.1rem, 1vw, 1rem);
	line-height: 1;
}

.primary_logo a {
	text-decoration: none;
	color: var(--black);
	font-size: clamp(1.25rem, 3.5vw, 2.5rem);
	font-weight: 700;
	transition: color 300ms ease-in-out;
}

.primary_logo a:focus,
.primary_logo a:hover,
.primary_logo a:active {
	color: var(--accent);
}

.description {
	margin: clamp(0.25rem, 1vw, 1rem) 0;
	line-height: 1;
	font-size: clamp(0.9rem, 2vw, 1rem);
}

.social_search_container {
	grid-column: 3;
	justify-self: end;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	gap: 1.25rem;
}

@media (max-width: 1024px) {
	.header {
		position: sticky;
		top: 0;
		left: 0;
		width: 100%;
		box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 10%);
		z-index: 1;
	}

	.header .wrap {
		padding: 0.5rem;
	}

	.header .social_navigation {
		display: none;
	}

	.social_search_container {
		gap: 0.25rem;
	}
}

@media (max-width: 600px) {
	.description {
		display: none;
	}
}

/* Search Drawer */
.search_button {
	padding: 0.75rem;
	border-radius: 5px;
	background-color: transparent;
	transition: background-color 300ms ease-in-out;
}

.search_button:focus,
.search_button:hover,
.search_button:active {
	background-color: var(--accent);
}

.search_button svg {
	width: 1.5rem;
	height: 1.5rem;
	stroke: var(--black);
	transition: stroke 300ms ease-in-out;
}

.search_button:focus svg,
.search_button:hover svg,
.search_button:active svg {
	stroke: var(--white);
}

.search_drawer {
	visibility: hidden;
	opacity: 0;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100vh;
	z-index: 1;
	background-color: var(--accent);
	color: var(--white);
	transition:
		visibility 300ms ease-in-out,
		opacity 300ms ease-in-out;
}

.search_active .search_drawer {
	visibility: visible;
	opacity: 100%;
}

.search_close {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	padding: 0.25rem;
}

.search_close:focus,
.search_close:hover,
.search_close:active {
	background-color: var(--white);
}

.search_close svg {
	width: 2.5rem;
	height: 2.5rem;
	stroke: var(--white);
}

.search_close:focus svg,
.search_close:hover svg,
.search_close:active svg {
	stroke: var(--accent);
}

.search_form {
	position: relative;
	width: 768px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 1rem;
}

.search_label {
	display: inline-block;
	font-size: clamp(1.25rem, 3vw, 2rem);
	line-height: 1;
	margin: 0 0 0.5rem;
}

.search_form input[type="search"] {
	width: 100%;
	padding: 1rem 4rem 1rem 1rem;
}

.submit_button {
	position: absolute;
	bottom: 2px;
	right: 1rem;
}

.submit_button svg {
	stroke: var(--accent);
}

/* Social Navigtion */
.social_nav {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	gap: 0.25rem;
}

.social_nav a {
	display: block;
	padding: 0.75rem;
	border-radius: 5px;
	background-color: transparent;
	transition: background-color 300ms ease-in-out;
}

.social_nav a:focus,
.social_nav a:hover,
.social_nav a:active {
	background-color: var(--accent);
}

.social_nav svg {
	width: 1.5rem;
	height: 1.5rem;
	fill: var(--black);
	transition: fill 300ms ease-in-out;
}

.social_nav a:focus svg,
.social_nav a:hover svg,
.social_nav a:active svg {
	fill: var(--white);
}

/* Navigation */
.menu_button {
	display: none;
	padding: 0.75rem;
	border-radius: 5px;
	background-color: transparent;
	transition: background-color 300ms ease-in-out;
}

.menu_button:focus,
.menu_button:hover,
.menu_button:active {
	background-color: var(--accent);
}

.menu_button svg {
	width: 1.5rem;
	height: 1.5rem;
	stroke: var(--black);
	transition: fill 300ms ease-in-out;
}

.menu_button:focus svg,
.menu_button:hover svg,
.menu_button:active svg {
	stroke: var(--white);
}

.menu_close {
	margin: 0.5rem 0.5rem 0.5rem auto;
}

.navigation {
	padding-inline: 1rem;
	box-shadow: none;
}

.main_nav {
	padding: 0;
	margin: 0;
	list-style-type: none;
	max-width: 79.375rem; /* 1270px */
	margin: 0 auto;
	border: 1px solid var(--gray);
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.main_nav li {
	position: relative;
	flex: auto;
	text-align: center;
	border-right: 1px solid var(--gray);
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.main_nav li:last-of-type {
	border-right: none;
}

.main_nav a {
	display: block;
	line-height: 1;
	width: 100%;
	padding: 1rem 0;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	font-size: 1rem;
	color: var(--accent);
	background-color: var(--white);
	transition:
		background-color 300ms ease-in-out,
		color 300ms ease-in-out;
}

.main_nav a.active,
.main_nav a:focus,
.main_nav a:hover,
.main_nav a:active {
	color: var(--white);
	background-color: var(--accent);
}

.main_nav a:has(+ button) {
	width: calc(100% - 48px);
}

.main_nav button {
	padding: 1rem;
	background-color: transparent;
	transition: background-color 300ms ease-in-out;
}

.main_nav button:focus,
.main_nav button:hover,
.main_nav button:active {
	background-color: var(--accent);
}

.main_nav svg {
	width: 1rem;
	height: 1rem;
	stroke: var(--accent);
	transform: rotate(0deg);
	transition:
		stroke 300ms ease-in-out,
		transform 200ms ease-in-out;
}

.main_nav button:focus svg,
.main_nav button:hover svg,
.main_nav button:active svg {
	stroke: var(--white);
}

.main_nav button:has(+ .sub_menu.active) {
	background-color: var(--accent);
}

.main_nav button:has(+ .sub_menu.active) svg {
	stroke: var(--white);
	transform: rotate(180deg);
}

/* Sub Menu */
.sub_menu {
	display: none;
	padding: 0;
	margin: 0;
	list-style-type: none;
	width: 100%;
	position: absolute;
	top: calc(100% + 1px);
	left: 0;
	background-color: var(--white);
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 10%);
	z-index: 1;
}

.sub_menu li {
	border: none;
	border-bottom: 1px solid var(--alt-green);
}

.sub_menu a {
	color: var(--white);
	background-color: var(--accent);
	transition:
		background-color 300ms ease-in-out,
		color 300ms ease-in-out;
}

.sub_menu a.active,
.sub_menu a:focus,
.sub_menu a:hover,
.sub_menu a:active {
	color: var(--accent);
	background-color: var(--white);
}

.sub_menu.active {
	display: block;
}

@media (max-width: 1024px) {
	.menu_button {
		display: block;
	}

	.navigation {
		visibility: hidden;
		position: fixed;
		top: 0;
		left: -300px;
		transform: translateX(0);
		padding-inline: 0;
		width: 300px;
		height: 100vh;
		z-index: 1;
		background-color: var(--white);
		box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 10%);
		transition:
			visibility 300ms linear,
			transform 300ms linear;
	}

	.main_nav {
		flex-direction: column;
		border: none;
		border-top: 1px solid var(--gray);
	}

	.main_nav li {
		flex-wrap: wrap;
		width: 100%;
		border-right: none;
		border-bottom: 1px solid var(--gray);
	}

	.main_nav li:hover svg {
		transform: rotate(0);
	}

	.main_nav a {
		padding: 1rem;
		text-align: left;
	}

	.menu_active .navigation {
		visibility: visible;
		transform: translateX(300px);
	}

	.sub_menu {
		position: static;
		width: 100%;
		box-shadow: none;
	}

	.sub_menu li {
		border: none;
		border-bottom: 1px solid var(--alt-green);
	}
}

/* Hero */
.hero {
	margin-inline: 1rem;
}

.hero .wrap {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	position: relative;
	width: 100%;
	height: auto;
	aspect-ratio: 1.95 / 1;
	z-index: 0;
}

.hero .figure {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero_text {
	width: 500px;
	max-width: 100%;
	padding: 1rem;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	color: var(--white);
}

.hero_heading {
	font-size: clamp(1rem, 4vw, 3rem);
	font-weight: 400;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 50%);
	margin: 0 0 clamp(1rem, 3vw, 2rem);
}

@media (max-width: 1024px) {
	.hero {
		margin-inline: 0;
	}
}

/* Headline */
.headline {
	margin: 0 auto;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	font-size: clamp(1rem, 3vw, 2rem);
	line-height: 1.25;
}

.headline p {
	margin: 0 auto;
	max-width: 60ch;
}

/* Latest Portfolio */
.grid .wrap {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.grid .figure {
	width: 100%;
	height: auto;
	margin: 0 0 2rem;
	aspect-ratio: 1.3 / 1;
}

.grid img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 768px) {
	.grid .wrap {
		grid-template-columns: 1fr;
		gap: 1rem;
	}
}

/* Newsletter */
.newsletter .wrap {
	max-width: 48rem;
}

.newsletter .secondary_heading {
	font-size: clamp(1.25rem, 3.5vw, 2.5rem);
}

.newsletter p {
	max-width: 80ch;
	margin: 0 auto;
}

.newsletter_form {
	display: grid;
	grid-template-columns: 6fr 6fr 1fr;
	gap: 0.5rem;
	margin: 2rem 0 0;
}

.newsletter_form input {
	padding: 1rem;
	border: 2px solid var(--accent);
}

.newsletter_form button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--accent);
	background-color: var(--accent);
	transition: background-color 300ms ease-in-out;
}

.newsletter_form svg {
	width: 2rem;
	height: 2rem;
	stroke: var(--white);
	transition: stroke 300ms ease-in-out;
}

.newsletter_form button:focus,
.newsletter_form button:hover,
.newsletter_form button:active {
	background-color: transparent;
}

.newsletter_form button:focus svg,
.newsletter_form button:hover svg,
.newsletter_form button:active svg {
	stroke: var(--accent);
}

@media (max-width: 600px) {
	.newsletter_form {
		grid-template-columns: 1fr;
		gap: 0.5rem;
		margin: 1rem 0 0;
	}

	.newsletter_form button {
		padding: 0.5rem;
	}
}

/* Recent Blog */
.blog .wrap {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
}

.blog .figure {
	width: 100%;
	height: auto;
	margin: 0 0 2rem;
	aspect-ratio: 1.6 / 1;
}

.blog img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.blog .meta {
	text-transform: uppercase;
	letter-spacing: 1px;
	color: var(--med-gray);
}

@media (max-width: 768px) {
	.blog .wrap {
		grid-template-columns: 1fr;
		gap: 1rem;
	}
}

/* Testimonial Slider */
.testimonials {
	position: relative;
	z-index: 0;
}

.testimonials blockquote {
	margin: 1rem 0;
	background-color: transparent;
	border: none;
}

.testimonials blockquote p {
	max-width: 80ch;
	margin: 0 auto 1rem;
}

.testimonials blockquote + cite {
	display: block;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.testimonials blockquote + cite div {
	text-transform: none;
	color: var(--med-gray);
}

/* Slider */
.slider ul {
	position: relative;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0 auto;
	list-style-type: none;
	z-index: 0;
}

.slide {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 0;
	opacity: 0;
	pointer-events: none;
	transition: opacity 300ms ease-in-out;
}

.slide.active {
	position: relative;
	height: auto;
	opacity: 100%;
}

.slide .figure {
	width: 10rem;
	height: auto;
	aspect-ratio: 1;
	margin: 0 auto;
}

.slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.slider_nav {
	position: absolute;
	top: 4.625rem;
	left: 0;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	z-index: 1;
}

.slider_button {
	padding: 0.75rem;
	border-radius: 5px;
	background-color: transparent;
	transition: background-color 300ms ease-in-out;
}

.slider_button:focus,
.slider_button:hover,
.slider_button:active {
	background-color: var(--accent);
}

.slider_nav svg {
	width: 1.5rem;
	height: 1.5rem;
	stroke: var(--med-gray);
	transition: stroke 300ms ease-in-out;
}

.slider_button:focus svg,
.slider_button:hover svg,
.slider_button:active svg {
	stroke: var(--white);
}

/* Page Template */
.page_title {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: clamp(1.25rem, 3.5vw, 2.5rem);
	font-weight: 400;
}

.breadcrumb_nav {
	padding: 0;
	margin: 0;
	list-style-type: none;
	line-height: 1;
}

.breadcrumb_nav li {
	display: inline-block;
	vertical-align: middle;
}

.breadcrumb_nav li::after {
	content: "|";
	display: inline-block;
	vertical-align: text-top;
	margin: 0 5px 0 8px;
}

.breadcrumb_nav li:last-of-type::after {
	content: "";
}

.breadcrumb_nav a {
	color: var(--med-gray);
	text-decoration-color: transparent;
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* Page Hero */
.page_hero .figure {
	width: 100%;
	height: auto;
	aspect-ratio: 3 / 1;
}

.page_hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Footer */
.footer .section {
	border-top: 1px solid var(--gray);
	border-bottom: 1px solid var(--gray);
}

.footer .wrap {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;
}

.footer ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.footer li {
	margin: 0.5rem 0;
}

.footer li a {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.count {
	color: var(--med-gray);
}

.footer .item {
	margin: 0 0 2rem;
}

.footer .social_nav {
	justify-content: flex-start;
	gap: 0.5rem;
}

.footer .social_nav a {
	border-radius: 50%;
	border: 2px solid var(--gray);
	transition:
		border 300ms ease-in-out,
		background-color 300ms ease-in-out;
}

.footer .social_nav a:focus,
.footer .social_nav a:hover,
.footer .social_nav a:active {
	border: 2px solid var(--accent);
}

@media (max-width: 1024px) {
	.footer .wrap {
		grid-template-columns: repeat(2, 1fr);
		gap: 3rem;
	}
}

@media (max-width: 600px) {
	.footer .wrap {
		grid-template-columns: 1fr;
		gap: 1rem;
	}
}

/* Instagram Grid */
.ig_grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.5rem;
}

.ig_grid .figure {
	width: 100%;
	height: auto;
	aspect-ratio: 1;
}

.ig_grid img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.copyright {
	padding: 3rem 1rem;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}
